.container {  display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 0.5fr 1.5fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Head Head"
      "NAV Text"
      "photo-con-frase photo-con-frase"
      "photo-con-frase photo-con-frase"
      "Contactos Contactos"
      ". .";
  }
  
  .Head { grid-area: Head;
 }
  
  .NAV { grid-area: NAV; }
  
  .Text { grid-area: Text; }
  
  .Contactos { grid-area: Contactos; }
  
  .photo-con-frase { grid-area: photo-con-frase; }
  