body {
  font-family: 'Roboto', Arial, sans-serif !important;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #000000; 
}
.navbar-nav .nav-item {
  margin-right: 15px;
}
.carousel-item {
  height: 400px; 
}
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}



#text-grande {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5vw; 
  color: white; 
  background-color: black;
  padding: 20px;
  line-height: 1.5; 
}

#newsletter{font-size: 1vw; 
  color: white; 
  background-color: black;
  margin: 0.4;
  line-height: 1.5}

@media screen and (max-width: 768px) {
  #text-grande {
    font-size: 5vw; 
  }
}

.texto-centrado {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Estilos adicionales para la página de carrito */
.container {
  color: white;
}

#cart-items {
  margin-top: 20px;
}

.cart-item {
  margin-bottom: 10px;
}

.cart-item button {
  margin-left: 10px;
}

#purchase-message {
  margin-top: 20px;
  font-weight: bold;
}

/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #ffffff;
    margin-right: 50px;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */

header{
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item{
    width: 30%; /* Adjust width as needed */
    margin: 10px;
  }


.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
    color: #fff;
}
h2{color: #fff;font-size: 2vw;}
.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}



.item {
  width: 27%; /* Adjust width as needed */
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .item {
    width: 90%; /* Change width to 100% on smaller screens */
  }
}

.subscription-container {
  background-color: black;
  color: white;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}


.subscription-form input[type="text"],
.subscription-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.subscription-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.subscription-form button:hover {
  background-color: #45a049;
}