.lettitulo {
  color: rgb(0, 0, 100);
  background-color: black;
  text-align: center;
  font-family: serif 'bodoni mt';
  font-size: 6vw; 
}

.letmedblanfonneg {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-align: center;
  font-family: serif 'bodoni mt';
 
}
.letchinegfonazu {
  color: black;
  background-color: rgb(0, 0, 100);
  font-family: serif 'bodoni mt';
  font-size: 2vw;
  text-align: justify;
  border: 5px; 
  border-color:black
}



body {
  background-color: rgb(0, 0, 100);
  font-family: serif 'bodoni mt';
  align-items: normal;
  align-content: normal;
  margin: 0; 
  overflow-x: hidden; }

  .ulnb {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
  .linb {
    display: inline-flex;
  }
  
  
  .anb {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }
  


  .backgroundremeras {background-image: url(remeras.jpg) ; height:50% ; width:100% ; font-family: serif 'bodoni mt';
    font-size: 100px; text-align: center; color: rgb(0, 0,100)}



    

    
    .container {
      width: 100vw; 
      height: 100vh; 
      display: grid;
      grid-template-columns: 1.2fr 1fr;
      grid-template-rows: 0.8fr 1fr 0.5fr;
      gap: 0px 0px;
      grid-template-areas:
        "ph Text"
        "photo-con-frase photo-con-frase"
        "Contactos Contactos";
    }

    .ph { grid-area: ph;  display: flex;; background: rgb(0, 0, 100);  
      margin-left: 50px; 
      -webkit-flex: 3;
      -ms-flex: 3;
      flex: 3;
      ;
      }
    
    .Text { grid-area: Text;width: 80%; 
      align-content: space-between;
      height: 100%;  
       -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; padding: 20px; flex-grow: 1; font-size: 25px;
      @media only screen and (max-width: 1000px) {font-size: 15px;}  
      
      }
    
    .Contactos { grid-area: Contactos;  border: 10px solid black; padding: 20px;
      }
    
    .photo-con-frase { grid-area: photo-con-frase; padding: 80px;border: 10px solid rgb(0, 0, 0); text-align: center; background-image:url(remeras.jpg) }


.flex-container {
      display: flex;
      background-color: DodgerBlue;
    }
.flex-container > div {
      background-color: #f1f1f1;
      margin: 10px;
      padding: 20px;
      font-size: 30px;
    }

  
  
  .ImageAndText {
      display: flex; /* Para alinear la imagen y el texto */
      align-items: center; /* Alinear verticalmente */
      @media only screen and (max-width: 600px) { 
        flex-direction: column;
        align-items:center;
      
        
      }
  }
  
  
  
 